---
import { SEO } from "astro-seo";
export interface Props {
title: string;
}
function removeTrailingSlash(str: string) {
return str.replace(/\/+$/, '');
}
const canonicalURL = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
const resolvedImageWithDomain = new URL(
"/opengraph.jpg",
Astro.site
).toString();
const { title } = Astro.props;
const makeTitle = "Ichi Lounge Kaatsheuvel";
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <SEO title={makeTitle} description="Geniet onbeperkt van de beste sushi bij Yume in Herpen! Bezoek ons all-you-can-eat sushi restaurant voor een heerlijke culinaire ervaring met verse ingrediënten en authentieke smaken. Perfect voor familie-uitjes en vriendenbijeenkomsten. Reserveer nu!" canonical={canonicalURL} />
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- Meta Pixel Code -->
    <script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '932633251977386');
    fbq('track', 'PageView');
    </script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=932633251977386&ev=PageView&noscript=1" /></noscript><!-- End Meta Pixel Code -->
</head>

<body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-center justify-content-md-between">
        </div>
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo me-auto me-lg-0"><img src="https://www.ichilounge.nl/ichi/logo.png" alt="" class="img-fluid"></a>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#claim-voucher">Claim voucher</a></li>
                    <li><a class="nav-link scrollto" href="#hoe-werkt-het">Hoe werkt het?</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a href="#reserveren" class="book-a-table-btn scrollto d-none d-lg-flex">Download voucher</a>
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center" style="background: url(https://www.ichilounge.nl/ichi/food/IMG_1526.jpg) no-repeat center center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover; 
            -o-background-size: cover;">
        <div class="container position-relative text-center text-lg-start">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Asian fusion <span>Ichi Lounge </span>Kaatsheuvel</h1>
                    <h2>Download voucher en krijg een drankje van het huis</h2>
                    <div class="btns">
                        <!-- <a href="https://take.app/yumeherpen" class="btn-menu animated fadeInUp scrollto" target="_blank">Bestellen</a> -->
                        <a href="#reserveren" class="btn-book animated fadeInUp scrollto">Download voucher</a>
                    </div>
                </div>
                <!--  <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div> -->
            </div>
        </div>
          <div class="overlay">
                    Deze deal is verlopen of niet beschikbaar
                </div>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="all-you-can-eat" class="bg-white section-padding">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-7 py-5 pl-md-0 pl-4">
                            <div class="heading-section pl-lg-5 ml-md-5">
                                <h2 class="section-title-h2">
                                    Gratis Drankje bij Ichi Lounge Kaatsheuvel - Claim Nu Jouw Voucher!
                                </h2>
                                <br />
                            </div>
                            <div class="pl-lg-5 ml-md-5">
                                <p>Ontdek de smaken van Azië met een moderne twist bij Ichi Lounge, jouw bestemming voor een onvergetelijke culinaire ervaring. Bij Ichi Lounge brengen we een innovatieve benadering van Aziatische fusion keuken, waar traditionele recepten en moderne kooktechnieken samensmelten om iets werkelijk unieks te creëren.</p>
                                <br />
                                <p>
                                    Ons sfeervolle restaurant is de perfecte setting voor een gezellige avond uit, een romantisch diner of een speciale gelegenheid. Onze uitgebreide menukaart biedt voor ieder wat wils, van verfijnde sushi rollen tot robuuste curry’s, elk gerecht bereid met verse, hoogwaardige ingrediënten.
                                </p>
                                <br />
                                <p>
                                    Geniet van de gastvrijheid van ons vriendelijke personeel terwijl je je onderdompelt in een wereld van smaak. Elk gerecht bij Ichi Lounge is een kunstwerk, ontworpen om te verrassen en te verleiden. Onze chefs combineren smaken uit Japan, China, Thailand en meer, waardoor elke hap een avontuur wordt.
                                </p>
                                <br />
                                <p>
                                    Bij Ichi Lounge waarderen we onze gasten en willen we iets speciaals terugdoen. Daarom bieden we jou een gratis drankje aan van het huis! Het enige wat je hoeft te doen is de volgende voucher te downloaden en te presenteren bij je volgende bezoek.<br />
                                    <div class="card mt-5">
                                        <div class="card-body">
                                        <br/>
                                            <h2 class="card-title">Hoe Werkt Het?</h2>
                                            <p class="card-text">
                                                Volg deze stappen om je gratis drankje te claimen:
                                            </p>
                                            <ol class="list-group list-group-flush">
                                                <li class="list-group-item">1. Download de voucher via de link hieronder.</li>
                                                <li class="list-group-item">2. Print de voucher uit of sla hem op je mobiele telefoon op.</li>
                                                <li class="list-group-item">3. Presenteer de voucher bij je bezoek aan Ichi Lounge.</li>
                                                <li class="list-group-item">4. Kies je favoriete drankje van onze drankenkaart en geniet!</li>
                                            </ol>
                                            
                                        </div>
                                    </div>
                                </p>
                                <br />
                            
                            </div>
                        </div>
                        <div class="col-sm-5 img-bg align-items-center justify-content-center justify-content-md-end img-2">
                            <img class="img-fluid img-cover" src="https://www.ichilounge.nl/ichi/food/474129C5-497D-41DB-8F65-E74D1018FDC8.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- menu -->
        <!--<div id="menu" class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center
                ">
                        <div class="page-section">
                            <h2 class="section-title-h2">Yume Herpen Menu</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                        <div class="menu-block">
                            <h3 class="menu-title"></h3>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="/assets/img/menu/sake.png" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Sake</a></h5>
                                            <span class="dish-meta">Zalm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Maguro</a></h5>
                                            <span class="dish-meta">Tonijn </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Suzuki</a> </h5>
                                            <span class="dish-meta">Zeebaars</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Tamago</a> </h5>
                                            <span class="dish-meta">Zoete omelet</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Ebi</a> </h5>
                                            <span class="dish-meta">Gerookte garnaal</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Ahirue</a> </h5>
                                            <span class="dish-meta">Eendfilet</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Kani</a> </h5>
                                            <span class="dish-meta">Krab</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Unagi</a> </h5>
                                            <span class="dish-meta">Gegrilde paling</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Hokkigai</a> </h5>
                                            <span class="dish-meta">Surfmossel</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Inari</a> </h5>
                                            <span class="dish-meta">Gebakken Tofu</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Gegrilde Tuna</a> </h5>
                                            <span class="dish-meta">Geflambeerde Tonijn</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Sake Cheese</a> </h5>
                                            <span class="dish-meta">Geflambeerde Kaas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Gegrilde Sake</a> </h5>
                                            <span class="dish-meta">Geflambeerde Zalm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                        <div class="menu-block">
                            <h3 class="menu-title"></h3>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Sake Maki</a></h5>
                                            <span class="dish-meta"> Zalmrol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Tekka Maki</a></h5>
                                            <span class="dish-meta">Tonijnrol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Kappa Maki</a></h5>
                                            <span class="dish-meta">Komkommerrol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Kani Maki</a></h5>
                                            <span class="dish-meta">Krabrol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Avocado Maki</a></h5>
                                            <span class="dish-meta">Avocado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">California Maki</a></h5>
                                            <span class="dish-meta">Avocado-krab rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Wasabi Sake Maki</a></h5>
                                            <span class="dish-meta">Avocado-zalm rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Spicy Sake Maki</a></h5>
                                            <span class="dish-meta">Pittige zalm rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Spicy Tuna Maki</a></h5>
                                            <span class="dish-meta">Pittige tonijn rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Crispy roll</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Cheese roll</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Banaan Maki</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Unagi Maki</a></h5>
                                            <span class="dish-meta">Paling rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Ebi Maki</a></h5>
                                            <span class="dish-meta">Garnaal rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Tori Maki</a></h5>
                                            <span class="dish-meta">Kip rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Creamcheese sake maki</a></h5>
                                            <span class="dish-meta">Roomkaas zalm rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Crispy ebi maki</a></h5>
                                            <span class="dish-meta">Garnaal rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Ebi avocado maki</a></h5>
                                            <span class="dish-meta">Garnaal avocado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Mango sake maki</a></h5>
                                            <span class="dish-meta">Mango zalm rol</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                        <div class="menu-block">
                            <h3 class="menu-title"></h3>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Gomaburu</a></h5>
                                            <span class="dish-meta">Sesamballetjes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Yakitori</a></h5>
                                            <span class="dish-meta">Kipspies
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Chicken meatballs</a> </h5>
                                            <span class="dish-meta"> Kipballetjes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Togarashi Ebi</a> </h5>
                                            <span class="dish-meta">Spicy garnalen</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Ika fried</a> </h5>
                                            <span class="dish-meta">Inktvis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Gebakken garnalen</a> </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Tori Teriyaki</a> </h5>
                                            <span class="dish-meta">Gebakken kip</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-content">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="img-circle"></a></div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="dish-content">
                                            <h5 class="dish-title"><a href="#">Beef teriyaki</a> </h5>
                                            <span class="dish-meta">Gesneden biefstuk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
    
       
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <img src="https://www.ichilounge.nl/ichi/logo.png" width="200" class="img-fluid">
                            <div class="social-links mt-3">
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Claim voucher</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Hoe werkt het</a></li>
                           
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Openingstijden</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Maandag: Gesloten</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Dinsdag: 16.00 - 22.00</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Woensdag: 16.00 - 22.00</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Donderdag: 16.00 - 22.00</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Vrijdag: 16.00 - 22.00</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Zaterdag: 16.00 - 22.00</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Zondag: 16.00 - 22.00</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2475.0109624507504!2d5.030843612872071!3d51.659635671730925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c696b52f8d37bd%3A0xec215c8c172fe986!2sIchi%20Asian%20Fusion%20Cuisine!5e0!3m2!1snl!2snl!4v1715623993934!5m2!1snl!2snl" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>NomadicOwls</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            </div>
        </div>
    </footer><!-- End Footer -->
    <style is:inline>
    .menu-block {
        margin-bottom: 30px;
    }

    .menu-title {
        border-bottom: 3px solid #e0e6e3;
        margin-bottom: 36px;
        padding-bottom: 10px;
    }

    .menu-content {
        border-bottom: 1px solid #e0e6e3;
        margin-bottom: 30px;
    }

    .dish-img {}

    .dish-content {
        margin-top: 12px;
        margin-bottom: 40px;
    }

    .dish-meta {
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        width: 210px;
        line-height: 1.7;
    }

    .dish-title {
        margin-bottom: 6px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
    }

    .well-block .dish-meta {
        width: 100%;
    }
    </style>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <!-- <script src="assets/vendor/aos/aos.js"></script> -->
    <script is:inline src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script is:inline src="/assets/js/main.js"></script>
</body>

</html>