---
import Container from "@components/container.astro";
import PricingTables from "@components/pricingTables.astro";
import Services from "@components/services.astro";

import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Content from "@components/content.astro";
import Sticky from "@components/sticky.astro";
import Modal from "@components/modal.astro";
import Testimonials from "@components/testimonials.astro";
---


<Layout title="Uit eten met korting in Nederland">
  <div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 100vh;">
  <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline px-5">
    <h1 class="display-4 my-4 font-weight-bold">Lekker uit eten met dat kleine beetje extra bij de beste restaurants in <span style="color: #9B5DE5;">Noord-Brabant</span></h1>
    <a href="#lastadded" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #9B5DE5;">Bekijk restaurants</a>
  </div>
  <!-- in mobile remove the clippath -->
  <div class="col-md-8 h-100 clipped" style="min-height: 350px; background-image: url(https://assets.plaece.nl/thumb/orP8E2iedhiqep59v7YUIPVQziBnbVj7QlSiURvRPb0/resizing_type:fit/width:1900/height:0/gravity:sm/enlarge:0/aHR0cHM6Ly9hc3NldHMucGxhZWNlLm5sL29kcC12aXNpdGJyYWJhbnQvaW1hZ2UvMzMzNmUyM2NiMmUxYjNhNjUyMjIyZTI2ODQ4YWFiMDk0NjMzODkyOS5qcGVn.webp); background-position: center; background-size: cover;">

  </div>
</div>

  <Container>
       <main id="main">


   <section class="section gray-bg" id="lastadded">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Restaurants in Noord-Brabant</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                <!-- Pills Menu -->
                    <ul id="locationMenu" class="nav nav-pills justify-content-center mb-3"></ul>
                    <div class="col-lg-4">
                        <div class="blog-grid">
                            <div class="blog-img">
                               <div class="date z-index-3" data-loc="Herpen">Herpen</div> 
                                <a href="/restaurants/yume-herpen-all-you-can-eat-sushi">
                                    <img src="https://www.yumeherpen.nl/wp-content/uploads/2024/04/DSC03985-1536x1024.webp" title="" width="350" alt="">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h5><a href="/restaurants/yume-herpen-all-you-can-eat-sushi" target="_blank">25% korting bij Yume Herpen voor elke 2e persoon</a></h5>
                                <p>Gezellig uit eten bij all you can eat sushi restaurant Yume herpen met 25% korting voor elke 2e persoon.</p>
                                <div class="btn-bar">
                                    <a href="/restaurants/yume-herpen-all-you-can-eat-sushi" class="px-btn-arrow">
                                        <span>Reserveren</span>
                                        <i class="arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                     <div class="blog-grid">
                            <div class="blog-img">
                                 <div class="date z-index-3" data-loc="Westerhoven">Westerhoven</div> 
                                <a href="/restaurants/het-wapen-van-westerhoven">
                                    <img src="https://hetwapenvanwesterhoven.nl/wp-content/themes/yootheme/cache/1d/kroket_wapenvanwesterhoven-1ded9415.webp" title="" width="350" alt="">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h5><a href="/restaurants/het-wapen-van-westerhoven" target="_blank">Kopje koffie of thee van het huis na de maaltijd</a></h5>
                                <p>Reserveer nu en ontvang een kopje koffie of thee van het huis na het bourgondisch eten.</p>
                                <div class="btn-bar">
                                    <a href="/restaurants/het-wapen-van-westerhoven" class="px-btn-arrow">
                                        <span>Reserveren</span>
                                        <i class="arrow"></i>

                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                   
                </div>
            </div>



        </section>

  
  </main><!-- End #main -->
  </Container>
</Layout>

<script is:inline>
document.addEventListener("DOMContentLoaded", function() {
    const locations = document.querySelectorAll('[data-loc]');
    const uniqueLocations = {};

    locations.forEach(loc => {
        uniqueLocations[loc.getAttribute('data-loc')] = true;
    });

    const menu = document.getElementById('locationMenu');

    // Create and add the 'Show All' button first
    const allItem = document.createElement('li');
    allItem.className = 'nav-item';
    const allLink = document.createElement('a');
    allLink.className = 'nav-link';
    allLink.textContent = 'Toon alles';
    allLink.href = '#';
    allLink.onclick = function(event) {
        event.preventDefault(); // Prevent default link behavior
        showAllContent();
        setActive(allLink); // Set active class on the 'Show All' link
    };

    allItem.appendChild(allLink);
    menu.appendChild(allItem);

    // Create a nav-item with a nav-link for each unique location
    for (const loc in uniqueLocations) {
        const item = document.createElement('li');
        item.className = 'nav-item';
        const link = document.createElement('a');
        link.className = 'nav-link';
        link.textContent = loc;
        link.href = '#';
        link.onclick = function(event) {
            event.preventDefault();
            filterContent(loc);
            setActive(link);
        };
        item.appendChild(link);
        menu.appendChild(item);
    }

    function filterContent(location) {
        locations.forEach(loc => {
            const parentDiv = loc.closest('.col-lg-4');
            if (loc.getAttribute('data-loc') === location) {
                parentDiv.style.display = 'block';
            } else {
                parentDiv.style.display = 'none';
            }
        });
    }

    function showAllContent() {
        locations.forEach(loc => {
            const parentDiv = loc.closest('.col-lg-4');
            parentDiv.style.display = 'block';
        });
    }

    function setActive(currentLink) {
        const links = menu.querySelectorAll('.nav-link');
        links.forEach(link => {
            link.classList.remove('active');
        });
        currentLink.classList.add('active');
    }

    // Optionally, click 'Show All' on page load
    allLink.click();
});


</script>

