---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import headerImage from "https://urios.nl/wp-content/uploads/handleiding/Boekhoudpakketten2021.png";
import Sectionhead from "@components/sectionhead.astro";
import PricingTables from "@components/pricingTables.astro";
import Affiliates from "@components/affiliates.astro";
---
<Layout title="Boekhoudprogramma en boekhoudsoftware">
    <div class="bg-babyblue flex h-96">
        <div class="m-auto text-center">
            <h1 class="font-bold text-6xl text-gray-800">
                Boekhoudprogramma's
            </h1>
            <p class="text-lg font-light">
                Op zoek naar het beste boekhoudpakket?
            </p>
        </div>
    </div>
    <Container>
        <div class="flex flex-col max-w-5xl mx-auto my-16 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">
            <section class="flex flex-col w-full space-y-6 flex items-left justify-center ">
                <p class="text-xl mt-4 text-slate-600 font-light">
                   Online boekhoudprogramma's bieden steeds meer variëteit en keuzemogelijkheden. Deze trend opent de deur naar gemakkelijke registratie van zakelijke uitgaven en uitbesteding van boekhoudtaken. Het is niet langer noodzakelijk dat de persoon die jouw boekhouding verzorgt fysiek aanwezig is. Dit betekent dat dit vanuit elke locatie kan gebeuren, wat een van de meest recente ontwikkelingen op het gebied van werk is.
                </p>
                <p class="text-xl mt-4 text-slate-600 font-light">
                   Met behulp van een online boekhoudprogramma kun je moeiteloos anderen toegang verlenen tot het systeem, zodat zij vanaf elke willekeurige locatie kunnen inloggen. Uiteraard heb je zelf ook de mogelijkheid om je boekhouding vanaf je eigen computer te bekijken.
                </p>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    Als je een probleem hebt of een vraag, biedt een online boekhoudprogramma je de mogelijkheid om gemakkelijk iemand met je mee te laten kijken.
                </p>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    De kosten van online boekhoudoplossingen variëren afhankelijk van het pakket. Gelukkig kun je al een uitstekend online boekhoudprogramma vinden voor een maandelijkse prijs tussen de 15 en 25 euro. Deze programma's bieden ook handige functies, zoals automatische gegevensinvoer van bijvoorbeeld bankafschriften. Dit is zeer aan te bevelen, omdat het je direct veel tijd bespaart.
                </p>
            </section>
            <section class="flex flex-col w-full space-y-6 ">
                <div class="py-6 md:order-1 hidden md:block">
                    <!-- <Picture src={headerImage} alt="Vrouw met laptop" widths={[200, 400, 600]} aspectRatio="4:3" sizes="(max-width: 600px) 100vw, 620px" loading="eager" format="svg" /> -->
                    <img src="https://urios.nl/wp-content/uploads/handleiding/Boekhoudpakketten2021.png"alt="">
                </div>
            </section>
        </div>
    </Container>
    <Affiliates />
</Layout>