---

import Faq from "@components/faq/faq.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingTables from "@components/pricingTables.astro";


export const faqItems = [
    {
        question: "Wat is lekkervoorminder.nl?",
        answer: `Lekkervoorminder.nl is een marketingplatform dat zich richt op het vergroten van de klantenaanloop naar restaurants door exclusieve aanbiedingen en kortingen aan te bieden aan consumenten. Wij helpen restaurants om meer zichtbaarheid te krijgen en meer klanten aan te trekken tijdens daluren en piekuren. Dit kan zijn een korting. Of een voucher voor een drankje van het huis of iets anders. Ook adverteren wij namens het bedrijf voor de gekozen deals.`
    },
    {
        question: "Hoe kan lekkervoorminder.nl mijn restaurant helpen meer klanten te trekken?",
        answer: `Wij bieden gepersonaliseerde landingspagina's voor uw restaurant, waar potentiële klanten alles kunnen vinden wat ze nodig hebben om een beslissing te maken, inclusief menu's, foto's, klantbeoordelingen, en speciale aanbiedingen. We promoten deze pagina's actief via gerichte advertentiecampagnes en sociale media om de zichtbaarheid te vergroten. `
    },

        {
        question: "Welke optionele diensten biedt lekkervoorminder?",
        answer: `Lekkervoorminder biedt een scala aan optionele diensten zoals geoptimaliseerde online reserveringssystemen, digitale vouchers, en loyaliteitsprogramma's, die u kunt kiezen om uw klantverkeer en omzet te verhogen. `
    },
    {
        question: "Wat zijn de kosten verbonden aan het gebruik van lekkervoorminder.nl?",
        answer: `We bieden verschillende abonnementsplannen aan, variërend van een basistarief voor standaard zichtbaarheid tot premium pakketten die uitgebreidere marketingdiensten en analyses bieden. De prijzen variëren afhankelijk van het gekozen pakket.`
    },
    {
        question: "Zijn er lange contracten of verplichtingen?",
        answer: `Nee, bij lekkervoorminder.nl geloven we in flexibiliteit. U kunt uw abonnement op elk moment wijzigen of opzeggen met een opzegtermijn van één maand.`
    }
    ,
    {
        question: "Hoe meet lekkervoorminder.nl het succes van de campagnes?",
        answer: `We gebruiken geavanceerde trackingtools zoals pixels en Meta Business om het verkeer naar uw landingspagina en de conversieratio's te monitoren. U kunt gedetailleerde rapporten opvragen die u inzicht geven in de prestaties van uw campagnes.`
    }
    ,
    {
        question: "Kan ik de aanbiedingen aanpassen die op mijn landingspagina verschijnen?",
        answer: `Absoluut! U kunt een wijziging aanvragen in de promotie die u wilt aanbieden. Wij bieden ondersteuning en advies over wat het beste werkt voor uw type restaurant en klantenkring.`
    }
    ,
    {
        question: "Hoe snel kan mijn restaurant live gaan op lekkervoorminder.nl?",
        answer: `Zodra we alle benodigde informatie hebben, waaronder foto's, menugegevens en uw promotieaanbiedingen, kunnen we uw landingspagina binnen enkele dagen live zetten.`
    }
    ,
    {
        question: "Hoe worden de betalingen afgehandeld?",
        answer: `Betalingen voor abonnementen worden maandelijks afgehandeld via automatische incasso of factuur.`
    }

        ,
    {
        question: "Wat gebeurt er als een aanbieding niet goed presteert?",
        answer: `Wij bieden flexibiliteit om aanbiedingen aan te passen of te wijzigen op basis van prestaties. Ons team staat klaar om samen met u te analyseren en strategieën te wijzigen om de resultaten te verbeteren.`
    }

        ,
    {
        question: "Wat gebeurt er als een aanbieding niet goed presteert?",
        answer: `Wij bieden flexibiliteit om aanbiedingen aan te passen of te wijzigen op basis van prestaties. Ons team staat klaar om samen met u te analyseren en strategieën te wijzigen om de resultaten te verbeteren.`
    }

        ,
    {
        question: "Wat gebeurt er als een aanbieding niet goed presteert?",
        answer: `Wij bieden flexibiliteit om aanbiedingen aan te passen of te wijzigen op basis van prestaties. Ons team staat klaar om samen met u te analyseren en strategieën te wijzigen om de resultaten te verbeteren.`
    }
            ,
    {
        question: "Moet ik toegang geven tot de social media accounts van mijn cafe of restaurant om gebruik te maken van jullie diensten?",
        answer: `Nee, het is niet nodig om ons toegang te geven tot uw social media accounts. Wij beheren alle marketingactiviteiten namens uw restaurant volledig onafhankelijk via onze eigen kanalen. Dit betekent dat wij alle advertenties, posts en campagnes die betrekking hebben op uw restaurant zullen opzetten en beheren zonder dat u uw inloggegevens hoeft te delen. Ons team van ervaren marketeers zorgt voor de creatie en optimalisatie van de content, terwijl we altijd handelen onder de naam van uw restaurant of café. Dit zorgt voor veel meer flexibiliteit voor u, terwijl uw merk consistent en professioneel vertegenwoordigd blijft. Wij zorgen ervoor dat uw aanbiedingen en promoties maximale zichtbaarheid krijgen en aansluiten bij de interesses van uw doelgroep. U kunt zich volledig richten op het runnen van uw zaak, terwijl wij ervoor zorgen dat uw online aanwezigheid sterk en effectief is.`
    }

];
---

<Layout title="Veelgestelde vragen">

  <div class="bg-babyblue flex h-96">
        <div class="m-auto text-center">
            <h1 class="font-bold text-6xl text-gray-800">
                Aanmelden als horeca ondernemer
                </h1>
                <p class="text-lg font-light mt-4">
                    Wij zoeken naar horeca ondernemingen die net dat kleine beetje extra willen doen voor klanten
                </p>
        </div>
    </div>
  <Container>



<PricingTables />

    

    <div class="mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Lekkervoorminder veelgestelde vragen</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Hier kun je de meest veelgestelde vragen vinden van andere horeca ondernemers
        </p>
        <Faq faqItems={faqItems}/>
      <div>
    
      </div>
    </div>
</Layout>




 





