---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import Modal from "@components/modal.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
   {
    title: "Home",
    path: "/",
  },
  {
    title: "Diensten",
    path: "diensten",
    children: [
      { title: "Stroomstoring oplossen", path: "/diensten/stroomstoring-oplossen" },
      { title: "Inductiekookplaat aansluiten", path: "/diensten/inductiekookplaat-aansluiten" },
      { title: "Groepenkast uitbreiden", path: "/diensten/groepenkast-uitbreiden" },
      { title: "Perilex aansluiten", path: "/diensten/perilex-aansluiten" },
      { title: "Stopcontact werkzaamheden", path: "/diensten/stopcontact-werkzaamheden" },
    ],
  },
  {
    title: "Werkgebied",
    path: "Werkgebied",
    children: [
      { title: "Elektricien in Rotterdam", path: "/werkgebied/elektricien-rotterdam" },
      { title: "Elektricien in Schiedam", path: "/werkgebied/elektricien-schiedam" },
      { title: "Elektricien in Delft", path: "/werkgebied/elektricien-delft" },
      { title: "Elektricien in Den-Haag", path: "/werkgebied/elektricien-den-haag" },
      { title: "Elektricien in Westland", path: "/werkgebied/elektricien-westland" },
      { title: "Elektricien in Spijkenisse", path: "/werkgebied/elektricien-spijkenisse" },
    ],
  },
  {
    title: "Over ons",
    path: "/over-ons",
  },

  //   {
  //   title: "Veelgestelde vragen",
  //   path: "/veelgestelde-vragen",
  // },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-right my-5 max-w-7xl mx-auto">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
            <img src="/img/logos/logo.svg" class="h-12 w-full inline-block"  alt="Elektricien in Rotterdam">
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 z-30">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
     <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link id="modalButton" href="#" size="md">Gratis offerte aanvragen</Link>
      </div>
    </div> 
  </header>
</Container>

