---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import Modal from "@components/modal.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
   {
    title: "Home",
    path: "/",
  },
  {
    title: "Laatst toegevoegd",
    path: "/laatst-toegevoegd",
  },
  {
    title: "Provincie",
    path: "Provincie",
    children: [
      { title: "Noord-brabant", path: "/provincie/noord-brabant" },
     
    ],
  },
  {
    title: "Partners",
    path: "/partners",
  },

  //   {
  //   title: "Veelgestelde vragen",
  //   path: "/veelgestelde-vragen",
  // },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

  
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="/" class="logo me-auto me-lg-0">  <img src="/img/logos/logo.png" class="h-12 w-full inline-block"  alt="Elektricien in Rotterdam"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Laatst toegevoegd</a></li>
          <li class="dropdown"><a href="#"><span>Provincie</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="provincie/noord-brabant"><span>Noord-Brabant</span></a>
              </li> 
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#specials">Partners</a></li>
          <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex"  style="border-radius: 30px; background-color: #9B5DE5;">Bekijk deals</a>

    </div>
  </header><!-- End Header -->
</Container>

