<section class="bg-white py-10 md:py-16">
     <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] mb-40 mx-auto text-center max-w-5xl">
                <div class="md:col-span-12">
                    <div class="ltr:lg:ml-4 rtl:lg:mr-4 px-5">
                        <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Expert Guidance. No Cure No pay.</h4>
                        <p class="text-xl mt-4 text-slate-600 font-light">
                           Welkom bij <span class="font-bold">Elektricien Rotterdam</span> - uw betrouwbare partner voor alle elektrische diensten in de regio Rotterdam. Wij zijn gespecialiseerd in het oplossen van storingen, het aanleggen van meterkasten en het vervangen van inductie kookplaten.

 <p class="text-xl mt-4 text-slate-600 font-light">
Onze missie is om onze klanten kwalitatief hoogwaardige diensten te bieden met een focus op veiligheid en efficiëntie. Met jarenlange ervaring in de elektrische industrie hebben we een sterke reputatie opgebouwd in Rotterdam en omgeving.
</p>
 <p class="text-xl mt-4 text-slate-600 font-light">

Onze team van ervaren elektriciens is volledig gecertificeerd en opgeleid om de nieuwste technieken en oplossingen te bieden. Wij begrijpen hoe belangrijk het is om uw elektrische problemen snel en veilig op te lossen, en daarom bieden wij 24/7 service.



                        </p>
                        <p class="text-xl mt-4 text-slate-600 font-light">
                           Bovendien bieden wij betaalbare prijzen en op maat gemaakte oplossingen voor elk type project. Of u nu een kleine reparatie nodig heeft of een volledige renovatie van uw elektrische systemen, wij staan altijd voor u klaar.

Neem contact met ons op voor meer informatie over onze diensten en hoe wij u kunnen helpen uw elektrische problemen op te lossen.
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end grid-->
        </div>
</section>