---
import Container from "@components/container.astro";
---


<!-- ======= Footer ======= -->

  <footer id="footer">
    <div class="footer-top">
      <Container>
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="https://i.ibb.co/HHqnV2s/Screenshot-2024-05-02-at-17-17-36.png" width="200" class="img-fluid">
 
              <div class="social-links mt-3">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Laatst toegevoegd</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Populair</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Onze partners</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Partner worden</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hoe word ik een partner</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Eten op locatie</a></li>
            </ul>
          </div>

        
        </div>
      </div>
    </div>

    
      <div class="copyright">
        &copy; Copyright <strong><span>NomadicOwls</span></strong>. All Rights Reserved
      </div>
</Container>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
 <script is:inline src="/assets/js/main.js"></script>
