---
import Dropdown from "./dropdown.astro";
import Container from "@components/container.astro";
---
<!-- ======= Footer ======= -->

  <footer id="footer">
    <div class="footer-top">
      <div class="max-w-screen-xl mx-auto px-5">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img src="https://i.ibb.co/HHqnV2s/Screenshot-2024-05-02-at-17-17-36.png" width="200" class="img-fluid">
 
              <div class="social-links mt-3">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Laatst toegevoegd</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Populair</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Onze partners</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Partner worden</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hoe word ik een partner</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Eten op locatie</a></li>
            </ul>
          </div>

        
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © {`${new Date().getFullYear()}`} <a href="https://nomadicowls.com" class="hover:underline">Nomadic Owls</a>
      </div>
      <div class="credits">
       
      </div>
    </div>
  </footer><!-- End Footer -->

  