---
import { Picture } from "@astrojs/image/components";
import headerImage from "assets/elektricien-hero.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Container from "@components/container.astro";
---

<div class="flex flex-col max-w-7xl mx-auto my-16 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">
  <section class="flex flex-col w-full lg:w-1/2 lg:pr-12 space-y-6 lg:items-left justify-center lg:text-left text-center">
    <h1 class="text-4xl sm:text-5xl lg:text-6xl xl:text-6xl font-bold">
      Op zoek naar een Elektricien?
    </h1>
    <p class="text-lg lg:text-xl mt-4 text-slate-600 font-light">Vind een elektricien in de omgeving van Rotterdam</p>
    <a class="w-48 px-6 py-4 bg-green-700 text-white font-semibold text-lg rounded-xl hover:bg-green-900 transition ease-in-out duration-500 mx-auto lg:mx-0 " href="/contact">Neem contact op</a>
  </section>
  <section class="flex flex-col w-full lg:w-1/2 space-y-6 lg:pl-12">
    <div class="py-6 md:order-1 hidden md:block">
      <!-- <Picture src={headerImage} alt="Vrouw met laptop" widths={[200, 400, 600]} aspectRatio="4:3" sizes="(max-width: 600px) 100vw, 620px" loading="eager" format="svg" /> -->
      <img src={headerImage} alt="Een elektricien in Rotterdam">
    </div>
  </section>
</div>

