<div class="bg-lightblue py-14">
    <div class="container mx-auto px-4 max-w-5xl">
        <div class="text-center my-8">
            <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">Hoeveel kost een boekhouder?</h2>
            <p class="text-lg mt-4 text-slate-600">Slechts een fractie van wat jij kunt besparen</p>
        </div>

        <div class="flex flex-col items-center justify-center mt-16 space-y-8 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">
            <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <span class="text-2xl font-normal">Starter</span>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€69</span>
                    <span class="text-gray-700 text-sm">/maand</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">10 mutaties per maand</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Boekhouding</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Jaarcijfers</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Omzetbelasting (BTW)</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Inkomstenbelasting (IB)</span>
                    </li>
                </ul>
            </section>

            <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <span class="text-2xl font-normal">ZZP'er</span>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€89</span>
                    <span class="text-gray-700 text-sm">/maand</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">10 mutaties per maand</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Boekhouding</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Jaarcijfers</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Omzetbelasting (BTW)</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Inkomstenbelasting (IB)</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Onbeperkt hulp via Whatsapp</span>
                    </li>
                </ul>
            </section>

            <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <span class="text-2xl font-normal">VOF / BV</span>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€109</span>
                    <span class="text-gray-700 text-sm">/maand</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">10 mutaties per maand</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Boekhouding</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Jaarcijfers</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Omzetbelasting (BTW)</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Inkomstenbelasting (IB)</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Onbeperkt hulp via Whatsapp</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Deponeren KVK</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
