<!-- Pricing 1 - Bootstrap Brain Component -->
<section class="bsb-pricing-1 py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-5 gy-lg-0 align-items-center">
      <div class="col-12 col-lg-4">
        <h2 class="display-5 mb-3 mb-xl-4">Onze prijzen</h2>
        <p class="lead mb-4 mb-xl-5">Wij hebben een oplossing voor elke onderneming in de horeca branche</p>
        
      </div>
      <div class="col-12 col-lg-8">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="row gy-4 gy-md-0 gx-xxl-5">
              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-sm">
                  <div class="card-body p-4 p-xxl-5">
                    <h2 class="h4 mb-2">Starter</h2>
                    <h4 class="display-3 fw-bold text-primary mb-0">&euro; 49</h4>
                    <p class="text-secondary mb-4"> / Maand</p>
                    <ul class="list-group list-group-flush mb-4">
                      <li class="list-group-item">
                        <span><strong>1</strong> standaard ontwerp</span>
                      </li>

                       <li class="list-group-item">
                        <span><strong>1</strong> Voordeal naar keuze</span>
                      </li>

                       <li class="list-group-item">
                        <span>Standaard leadform</span>
                      </li>
                      <li class="list-group-item">
                        
                        <span><strong>SEO geoptimaliseerd</strong></span>
                      </li>
                      <li class="list-group-item">
                        
                        <span>Directe interactie op landingspagina</span>
                      </li>
                      <li class="list-group-item">
                       
                        <span>Sterker merk-imago</span>
                      </li>
                      <li class="list-group-item">
                        
                        <span>Grotere toegankelijkheid</span>
                      </li>
                                          

                    </ul>
                    <a href="#!" class="btn bsb-btn-2xl btn-primary rounded-pill">Neem vrijblijvend contact op</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-lg pt-md-4 pb-md-4 bsb-pricing-popular">
                  <div class="card-body p-4 p-xxl-5">
                    <h2 class="h4 mb-2">Pro</h2>
                    <h4 class="display-3 fw-bold text-primary mb-0">Vanaf &euro;99</h4>
                    <p class="text-secondary mb-4">/ Month</p>
                   <ul class="list-group list-group-flush mb-4">
                      <li class="list-group-item">
                        <span>Custom design-service</span>
                      </li>

                     
                      <li class="list-group-item">
                        
                        <span><strong>SEO geoptimaliseerd</strong></span>
                      </li>
                      <li class="list-group-item">
                        
                        <span>Directe interactie op landingspagina</span>
                      </li>

                                <li class="list-group-item">
                        
                        <span>3e partij integraties</span>
                      </li>

                      <li class="list-group-item">
                        
                        <span>Targeted Facebook advertenties</span>
                      </li>
                      <li class="list-group-item">
                       
                        <span>Sterker merk-imago</span>
                      </li>
                      <li class="list-group-item">
                        
                        <span>Grotere toegankelijkheid</span>
                      </li>
                                          

                    </ul>
                    <a href="#!" class="btn bsb-btn-2xl btn-primary rounded-pill">Neem vrijblijvend contact op</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>