<div class="bg-lightblue py-14">
    <div class="container mx-auto px-4 max-w-5xl">
        <div class="text-center my-8">
             <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Hoeveel kost een Elektricien omgeving Rotterdam?</h2>
            <p class="text-lg mt-4 text-slate-600">Dit zijn indicatieve prijzen op basis van eerder uitgevoerde klussen. De uiteindelijke kosten kunnen afwijken van de factuur die je van ons ontvangt.</p>
        </div>

        <div class="flex flex-col items-center justify-center mt-16 space-y-8 lg:flex-row lg:items-stretch lg:space-x-8 lg:space-y-0">


 <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <h2 class="text-2xl font-normal">Inductiekookplaat aanleggen</h2>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€250</span>
                    <span class="text-gray-700 text-sm">/klus</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Aansluiten inductiekookplaat</span>
                    </li>

                

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Extra groep aanleggen stoppenkast</span>
                    </li>

                   
                </ul>
            </section>
            
            <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <h2 class="text-2xl font-normal">Groepenkast aanleggen</h2>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€485</span>
                    <span class="text-gray-700 text-sm">/klus</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">4 groepen</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Verwijderen oude groepenkast</span>
                    </li>

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Bedrading</span>
                    </li>

                   <!--  <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Aardlekschakelaar controleren</span>
                    </li>
 -->
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Testen en meten</span>
                    </li>
                </ul>
            </section>

           

            <section class="flex flex-col w-full max-w-sm p-12 space-y-6 bg-white rounded-lg shadow-md">
                <!-- Price -->

                <div class="text-center">
                    <h2 class="text-2xl font-normal">Elektriciteit aanleggen</h2>
                </div>

                <div class="pb-6 text-center border-b">
                    <span class="text-6xl font-bold">€540</span>
                    <span class="text-gray-700 text-sm">/vanaf</span>
                </div>

                <!-- Features -->
                <ul class="space-y-4">
                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Stopcontacten aanleggen</span>
                    </li>         

                    <li class="flex items-start">
                        <svg
                            class="w-6 h-6 text-green-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor">
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-3 text-base font-medium" x-text="feature">Aansluiten aardlekschakelaar</span>
                    </li>         
                  
                </ul>
            </section>
        </div>
    </div>
</div>
