<section class="bg-white py-10 md:py-16">
    <h1 class="font-semibold text-gray-900 text-4xl text-center mb-10">Waar kunnen wij je mee helpen?</h1>
   <div class="flex flex-wrap justify-center items-center space-y-4 md:space-y-0 md:space-x-10 lg:space-x-20 mb-12">
  <a id="storingen" href="#content1" class="tab-link px-4 md:px-6 py-2 md:py-4 bg-green-800 text-white font-semibold text-lg md:text-xl rounded-lg hover:bg-green-600 transition ease-in-out duration-500">Stroom storing</a>
  <a id="meterkast" href="#content2" class="tab-link font-semibold px-4 md:px-6 py-2 md:py-4 text-gray-900 font-normal text-lg md:text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Groepenkast</a>
  <a id="inductiekookplaat" href="#content3" class="tab-link font-semibold px-4 md:px-6 py-2 md:py-4 text-gray-900 font-normal text-lg md:text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Inductiekookplaat</a>
  <a id="inductiekookplaat" href="#content4" class="tab-link font-semibold px-4 md:px-6 py-2 md:py-4 text-gray-900 font-normal text-lg md:text-xl rounded-lg hover:bg-gray-200 hover:text-gray-400 transition ease-in-out duration-500">Verlichting</a>
</div>

    <div id="content1" class="tab-content block grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] mt-10 md:mt-40 mb-10 md:mb-40 max-w-5xl mx-auto">
    <div class="md:col-span-5">
        <div class="relative">
            <img src="https://spoedelektricien.nl/wp-content/uploads/2023/01/elektricien-spoed.jpg" class="rounded-xl shadow-md" alt="">
        </div>
    </div>
    <div class="md:col-span-7">
        <div class="ltr:lg:ml-4 rtl:lg:mr-4 px-5">
            <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Snel en efficiënt: onze elektriciens vinden en lossen storingen op.</h2>
            <p class="text-xl mt-4 text-slate-600 font-light">
                Stroom Storingen in uw elektrische systeem kunnen heel vervelend zijn en zelfs gevaarlijk worden als ze niet snel worden opgelost. Het kan lastig zijn om de oorzaak van een stroomstoring te vinden, vooral als u niet goed bekend bent met elektrische systemen. Maar maakt u zich geen zorgen, wij hebben de kennis en ervaring om snel en efficiënt stroomstoringen op te sporen en op te lossen.
            </p>
            <p class="text-xl mt-4 text-slate-600 font-light">
                Onze ervaren elektriciens gebruiken de nieuwste technologieën en instrumenten om storingen te detecteren en te lokaliseren. We weten hoe we een grondige diagnose moeten stellen en het probleem snel en veilig kunnen oplossen. Of het nu gaat om een kortsluiting, een overbelasting of een ander probleem, wij zullen de oorzaak vinden en het probleem verhelpen.
            </p>
        </div>
    </div>
</div>

    <!-- end content -->
    <!--Start content -->
    <div id="content2" class="tab-content hidden grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] mt-40 mb-40 max-w-5xl mx-auto">
        <div class="md:col-span-5">
            <div class="relative">
                <img src="https://www.rjcelektro.nl/wp-content/uploads/2021/12/Groepenkast.jpg" class="rounded-xl shadow-md" alt="">
            </div>
        </div>
        <!--end col-->
        <div class="md:col-span-7">
            <div class="ltr:lg:ml-4 rtl:lg:mr-4 px-5">
                <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Snel, betaalbaar en veilig: onze elektriciens staan klaar om uw groepenkast te repareren, vervangen of uit te breiden.</h2>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    Een groepenkast is het hart van uw elektrische systeem. Het zorgt ervoor dat u veilig gebruik kunt maken van al uw elektrische apparatuur en verlichting. Daarom is het belangrijk om te zorgen dat uw groepenkast goed functioneert en aan de huidige veiligheidseisen voldoet. Of u nu een nieuwe groepenkast nodig heeft, een bestaande wilt laten repareren of uw elektrische systeem wilt upgraden, wij hebben de expertise om het werk snel en professioneel uit te voeren.
                </p>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    Onze elektriciens zijn op de hoogte van de nieuwste veiligheidseisen en weten hoe ze uw groepenkast veilig kunnen vervangen of repareren. We gebruiken alleen hoogwaardige materialen en de nieuwste technologieën om ervoor te zorgen dat uw nieuwe groepenkast voldoet aan uw huidige en toekomstige energiebehoeften. We zullen u adviseren over de beste opties voor uw specifieke situatie en zorgen ervoor dat uw elektrische systeem veilig en betrouwbaar is.
                </p>
            </div>
        </div>
    </div>
    <!-- end content -->

      <!--Start content -->
    <div id="content3" class="tab-content hidden grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] mt-40 mb-40 max-w-5xl mx-auto">
        <div class="md:col-span-5">
            <div class="relative">
                <img src="https://www.ikea.com/nl/nl/images/products/grundad-inductiekookplaat-ikea-300-zwart__0854587_pe780674_s5.jpg?f=s" class="rounded-xl shadow-md" alt="">
            </div>
        </div>
        <!--end col-->
        <div class="md:col-span-7">
            <div class="ltr:lg:ml-4 rtl:lg:mr-4 px-5">
                <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Inductiekookplaat vervangen, repareren of aanleggen</h2>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    Een meterkast is het hart van uw elektrische systeem. Het zorgt ervoor dat u veilig gebruik kunt maken van al uw elektrische apparatuur en verlichting. Daarom is het belangrijk om te zorgen dat uw meterkast goed functioneert en aan de huidige veiligheidseisen voldoet. Of u nu een nieuwe meterkast nodig heeft, een bestaande wilt laten repareren of uw elektrische systeem wilt upgraden, wij hebben de expertise om het werk snel en professioneel uit te voeren.
                </p>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    Onze elektriciens zijn op de hoogte van de nieuwste veiligheidseisen en weten hoe ze uw meterkast veilig kunnen vervangen of repareren. We gebruiken alleen hoogwaardige materialen en de nieuwste technologieën om ervoor te zorgen dat uw nieuwe meterkast voldoet aan uw huidige en toekomstige energiebehoeften. We zullen u adviseren over de beste opties voor uw specifieke situatie en zorgen ervoor dat uw elektrische systeem veilig en betrouwbaar is.
                </p>
            </div>
        </div>
    </div>
    <!-- end content -->


      <!--Start content -->
    <div id="content4" class="tab-content hidden grid md:grid-cols-12 grid-cols-1 items-center gap-[30px] mt-40 mb-40 max-w-5xl mx-auto">
        <div class="md:col-span-5">
            <div class="relative">
                <!-- <img src="https://www.ikea.com/nl/nl/images/products/grundad-inductiekookplaat-ikea-300-zwart__0854587_pe780674_s5.jpg?f=s" class="rounded-xl shadow-md" alt=""> -->
            </div>
        </div>
        <!--end col-->
        <div class="md:col-span-7">
            <div class="ltr:lg:ml-4 rtl:lg:mr-4 px-5">
                <h2 class="mb-6 md:text-3xl text-2xl lg:leading-normal leading-normal font-semibold">Laat uw verlichting stralen met onze professionele elektriciens</h2>
                <p class="text-xl mt-4 text-slate-600 font-light">
                    De juiste verlichting is essentieel voor de sfeer en functionaliteit van uw huis. Of u nu op zoek bent naar een nieuwe lamp voor uw woonkamer, een upgraden van uw bestaande verlichtingssysteem, of een volledige installatie van verlichting in uw huis, onze experts staan klaar om u te helpen.

Onze ervaren elektriciens zijn op de hoogte van de nieuwste verlichtingstrends en technologieën en weten hoe ze uw verlichtingssysteem veilig en efficiënt kunnen installeren. We gebruiken alleen hoogwaardige materialen en producten van de beste merken om ervoor te zorgen dat uw verlichting voldoet aan uw specifieke wensen en behoeften. Of u nu op zoek bent naar energiezuinige LED-verlichting, slimme verlichting of traditionele lampen, wij hebben de expertise om u te adviseren over de beste opties voor uw situatie.

We begrijpen dat verlichting een belangrijke rol speelt in uw dagelijks leven, en daarom streven we ernaar om snel en efficiënt te werken zonder concessies te doen aan kwaliteit en veiligheid. Onze elektriciens zullen ervoor zorgen dat uw verlichtingssysteem veilig en betrouwbaar is, zodat u zich kunt concentreren op het genieten van uw huis.
                </p>

            </div>
        </div>
    </div>
    <!-- end content -->
</section>

<script is:inline>
const tabLinks = document.querySelectorAll('.tab-link');
const tabContents = document.querySelectorAll('.tab-content');

for (let i = 0; i < tabLinks.length; i++) {
    tabLinks[i].addEventListener('click', function(e) {
        e.preventDefault();

        const targetId = this.getAttribute('href');

        // Hide all tab contents
        for (let j = 0; j < tabContents.length; j++) {
            tabContents[j].style.display = 'none';
             tabLinks[j].classList.remove('bg-green-800', 'text-white');
              tabLinks[j].classList.add('text-black');
        }

          // Add bg-green-800 class to the clicked link
       this.classList.add('bg-green-800', 'text-white');


        // Show the target tab content
        const targetContent = document.querySelector(targetId);
        targetContent.style.display = 'flex';
    });
}

</script>