---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";
import Contactform from "@components/contactform.astro";
const { plan } = Astro.props;
---
<script src="../assets/js/multi-step-form.js"></script>
<script src="../assets/js/contact-validate.js"></script>


        <form action="https://api.web3forms.com/submit" method="POST" id="form" class="needs-validation" novalidate>
            <input type="hidden" name="access_key" value="c80efb0d-28ae-4bb2-804b-1f11bd9911ad">
            <input type="checkbox" class="hidden" style="display:none" name="botcheck" />
            <!-- <input type="hidden" name="redirect" value="https://web3forms.com/success"> -->

            <div id="formhead" class="mb-7">
                <div id="formtitle">
                    <span class="block font-semibold text-xl">Offerte aanvragen?</span>
                </div>
                <div id="formindicator" class="hidden flex justify-between items-center mx-auto">
                    <a id="step-1-indicator" class="inline-flex items-center justify-center border font-medium bg-blue-500 rounded-full h-8 w-8 text-white"> 1</a>
                    <div class="border-t border-gray-300 flex-1"></div>
                    <a id="step-2-indicator" class="borderinline-flex items-center justify-center font-medium rounded-full border-b-2 h-8 w-8"> 2</a>
                </div>
            </div>

            

            
            <div id="step-1">
                <!-- form - start -->
                <!-- <input type="text" class="hidden" name="fax"/> -->
                <div class="flex flex-col mb-4 py-2">
                    <label for="classificatie" class="block mb-2 text-sm font-medium text-gray-900">Welke dienst kunnen wij voor jou doen?</label>
                    <select name="classificatie" id="" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="Storing oplossen">Stroomg storing oplossen</option>
                        <option value="Inductiekookplaat werkzaamheden">Inductiekookplaat werkzaamheden</option>
                        <option value="Verlichting Werkzaamheden">Verlichting Werkzaamheden</option>
                        <option value="Groepenkast werkzaamheden">Groepenkast werkzaamheden</option>
                        <option value="Perilex aansluiten">Perilex</option>
                    </select>
                </div>
                <div class="flex flex-col mb-4 py-2">
                    <label for="area" class="block mb-2 text-sm font-medium text-gray-900">Om welke ruimte gaat het?</label>
                    <select name="area" id="" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="Keuken">Keuken</option>
                        <option value="Woonkamer">Woonkamer</option>
                        <option value="Slaapkamer">Slaapkamer</option>
                        <option value="Toilet">Toilet</option>
                        <option value="Tuin">Tuin</option>
                        <option value="Kantoorruimte">Kantoorruimte</option>
                        <option value="Schuur">Schuur</option>
                    </select>
                </div>
                <div class="flex flex-col mb-2 py-2">
                    <label for="preferred_services" class="block mb-2 text-sm font-medium text-gray-900">Om wat voor specifieke dienst gaat het?</label>
                    <select id="preferred_services" name="preferred_services[]" multiple class="preferredservices border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="Inspectie">Inspectie</option>
                        <option value="Reparatie">Reparatie</option>
                        <option value="Aanleggen">Aanleggen</option>
                        <option value="Aansluiten">Aansluiten</option>
                        <option value="Installatie">Installatie</option>
                        <option value="Onderhoud">Onderhoud</option>
                    </select>
                </div>
                <div class="flex flex-col mb-4 py-2">
                    <label for="aanlevermethode" class="block mb-2 text-sm font-medium text-gray-900">Is de ruimte geaard?</label>
                    <select name="aanlevermethode" class="delivery_method border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option value="Ja">Ja</option>
                        <option value="Nee">Nee</option>
                        <option value="Weet ik niet">Weet ik niet</option>
                    </select>
                </div>
                <div class="flex items-center justify-between">
                    <a id="next-btn" class="px-6 py-2 text-sm text-white bg-indigo-500 rounded-lg outline-none hover:bg-indigo-600 ring-indigo-300">
                        Volgende stap
                    </a>
                </div>
            </div>
            <div id="step-2" class="hidden">
                <div class="mb-6">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Voor en achternaam</label>
                    <input type="text" required class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="name" />
                    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Vul je naam in
                    </div>
                    <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                </div>

                                <div class="mb-6">
                    <label for="woonplaats" class="block mb-2 text-sm font-medium text-gray-900">Woonplaats</label>
                    <input type="text" required class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="woonplaats" />
                    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Vul je woonplaats in
                    </div>
                
                </div>
                <div class="mb-6">
                    <label for="email_address" class="block mb-2 text-sm font-medium text-gray-900">Email adres</label><input id="email_address" type="email" name="email" required class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    <div class="empty-feedback text-red-400 text-sm mt-1">
                        Vul je email adres in
                    </div>
                    <div class="invalid-feedback text-red-400 text-sm mt-1">
                        Vul een geldig email adres in
                    </div>
                </div>
                <div class="mb-6">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Telefoonnummer</label>
                    <input name="phone" type="phone" id="phone" required class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                     <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Vul je telefoonnummer / Whatsapp in
                    </div>
                </div>
                <div class="mb-6">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Andere dingen die wij moeten weten?</label>
                    <textarea name="message" required class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
                        Hoe kunnen wij je helpen?
                    </div>

                </div>
                <div class="flex justify-between">
                    <a id="prev-btn" class="py-2 cursor-pointer"> Vorige stap</a>
                    <button type="submit" class="px-6 py-2 text-sm text-white bg-indigo-500 rounded-lg outline-none hover:bg-indigo-600 ring-indigo-300">Submit</button>
                </div>
                <div class="flex justify-between">
                    <div id="result" class="mt-3 text-center"></div>
                </div>
   
            </div>
        </form> 
